body {
  @apply bg-white text-zinc-950 transition-colors duration-500 dark:bg-zinc-950 dark:text-zinc-50;
}

* {
  @apply !scroll-smooth;
}

::selection {
  @apply bg-zinc-200 dark:bg-zinc-700;
}

* :not(code, pre, .line, .line > span) {
  font-family: 'Geist', Inter, sans-serif;
}

code,
pre,
.line,
.line > span {
  font-family: 'JetBrains Mono', monospace;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
